# Execution des blocs Python par Quarto
jupyter>=1.0,<2
ipykernel>=6.25,<7

# Calcul scientifique et figures
numpy>=1.26,<3
scipy>=1.11,<2
matplotlib>=3.8,<4
pandas>=2.1,<4

# Outils specialises RF et traitement du signal
scikit-rf>=1.0,<2
scikit-dsp-comm>=2.1,<3
